{%extends 'base.html'%}

{%block title%} student dashboard {%endblock%}


{%block body%}

{% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} text-center error-success-massage">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


            <div class="container">
                <h2 class="text-center my-4">Upcoming Events</h2>
                
                <div class="row">
                  {% for event in events %}
                    <div class="col-md-4">
                      <div class="card shadow-sm p-3 mb-4 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title ">{{ event.event_name }}</h5>
                          <p class="card-text"><strong>Date:</strong> {{ event.date|date:"F d, Y H:i" }}</p>
                          <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                          <p class="card-text">{{ event.description }}</p>
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#RegisterModal{{event.id}}">
                            Register</button>
                        </div>
                      </div>
                    </div>
                  {% empty %}
                    <p class="text-center">No upcoming events.</p>
                  {% endfor %}
                </div>
              </div>



<!-- Model register -->

{% for event in events %}

<div class="modal fade" id="RegisterModal{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel{{event.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegisterModalLabel{{event.id}}">Confirm Your Registration For {{event.event_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure You Want To Register
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{% url 'event_register' event.id %}" method="post">
          {%csrf_token%}
        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
      </div>
    </div>
  </div>
</div>

{%endfor%}

{%endblock%}